<nav class="flex gap-4 p-4 bg-neutral-900">
  <a
    routerLink="/"
    class="text-lg font-bold text-stone-300 hover:text-white duration-300 trasition-all ease-in-out"
    >Dashboard</a
  >
  <a
    routerLink="table"
    class="text-lg font-bold text-stone-300 transition-all duration-300 hover:text-white ease-in-out"
    >Tabla</a
  >
  <a
    routerLink="form"
    class="text-lg font-bold text-stone-300 hover:text-white ease-in-out duration-300 transition-all"
    >Formulario</a
  >
</nav>
<router-outlet></router-outlet>
